<mat-card>
	<mat-card-title>{{title}}</mat-card-title>
	<mat-card-content>
		<mat-nav-list>
			<mat-list-item *ngFor="let project of projects" routerLink="project/{{project.id}}">
				<a matLine>{{ project.name }}</a>
        <p matLine class="description"><span>{{project.description}}</span></p>
				<!-- <button mat-icon-button (click)="showInfo(link)">Info</button> -->
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
  <mat-card-actions>
    <button  mat-stroked-button (click)="loadProjectsList()">Обновить</button>
    <button mat-stroked-button (click)="showProjectsResponse()">Получить ответ</button>
  </mat-card-actions>
</mat-card>