<mat-card>
	<mat-card-title>{{title}}</mat-card-title>
	<mat-card-content>
		<span *ngIf="config">
      <p><label>Root URL:</label> {{config.rootURL}}</p>
    </span>

<p *ngIf="error" class="error">{{error | json}}</p>
<p *ngIf="configFile" >{{configFile | json}}</p>

  <mat-card-actions>
    <mat-checkbox 
      class="example-margin" 
      [(ngModel)]="showThis">
    Show this
    </mat-checkbox>

      <button class="example-margin" mat-stroked-button (click)="showConfig();">Показать конфигурацию</button>
      <button class="example-margin" mat-stroked-button (click)="makeError();">Ошибка!</button>

    </mat-card-actions>    
  </mat-card-content>
</mat-card>