<mat-card>
	<mat-card-title>{{title}}</mat-card-title>
	<mat-card-content>
		<span *ngIf="config">
      <p><label>Root URL:</label> {{config.rootURL}}</p>
    </span>

<p *ngIf="configFile" >{{configFile | json}}</p>

<mat-card *ngIf="error" class="outlined">
  <p class="error">{{error | json}}</p>
</mat-card>
</mat-card-content>
  <mat-card-actions>
    <mat-checkbox 
      class="example-margin" 
      [(ngModel)]="showThis">
    Show this
    </mat-checkbox>

      <button mat-stroked-button (click)="showConfig();"><i class="material-icons">more</i> Показать конфигурацию</button>
      <button mat-stroked-button (click)="makeError();"><i class="material-icons">error</i> Ошибка!</button>
      <button mat-stroked-button (click)="clear();"><i class="material-icons">delete</i> Очистить</button>
      <button mat-stroked-button (click)="clear(); showConfigResponse()">getResponse</button>

    </mat-card-actions>    
  
</mat-card>




